* {
    font-family: freight-sans-pro, sans-serif;
    font-size: 18pt;
    padding: 0;
    margin: 0;

    --max-content-width: 1000px;
    --outer-margin-size: 30px;
    --page-min-margin: 64px;
    --side-inner-padding-card: 30px;
    --vertical-inner-padding-card: 20px;
    --card-border-radius: 5px;

    --blue: rgb(42, 67, 102);
    --darkblue: rgb(19, 29, 43);
}

body {
    padding: 0;
    background: var(--darkblue);
}

ul {
    list-style: none;
}

.content-wrapper {
    width: 100%;
    background: white;
    padding: var(--vertical-inner-padding-card) 0;
}

.content-container {
    width: calc(100% - (var(--page-min-margin) * 2));
    max-width: var(--max-content-width);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

h3 {
    color: var(--blue);
    text-align: center;
    font-size: 42pt;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container#main-image {
    --side-length: 200px;
    height: var(--side-length);
    width: var(--side-length);
    border-radius: 50%;
    overflow: hidden;
}

.main-content {
    width: calc(100% - (var(--page-min-margin) * 2));
    max-width: var(--max-content-width);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 56px;
    margin-bottom: calc(var(--vertical-inner-padding-card) * 2);
}

.main-content > * {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
}

.main-content p {
    text-align: justify;
    text-align-last: center;
    font-size: 18pt;
    letter-spacing: 0.2px;
    line-height: 24pt;
    font-weight: 500;
}

h1 {
    text-align: center;
    font-size: 52pt;
    letter-spacing: -1px;
}