* {
    font-family: freight-sans-pro, sans-serif;
    padding: 0;
    margin: 0;

    --max-content-width: 1000px;
    --outer-margin-size: 30px;
    --page-min-margin: 64px;
    --vertical-inner-padding-card: 25px;
    --card-border-radius: 5px;

    --paragraph-font-size: 18pt;
    --paragraph-line-spacing: 24pt;
    --paragraph-letter-spacing: 0.2px;

    --lightblue: rgb(78, 128, 199);
    --blue: rgb(42, 67, 102);
    --darkblue: rgb(19, 29, 43);
}

body {
    padding: 0;
    background: var(--darkblue);
}

.click-projects, .click-contact {
    cursor: pointer; 
}

ul:not(.normal-list) {
    list-style: none;
}

.normal-list {
    font-size: var(--paragraph-font-size);
    padding-left: 30px;
}

.white-background {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.8);
    background: white;
}

p {
    font-size: var(--paragraph-font-size);
    padding: 5px 0;
}
.content-wrapper {
    width: 100%;
    padding: var(--vertical-inner-padding-card) 0 calc(var(--vertical-inner-padding-card) * 1.5);
    border-bottom: 1px solid rgba(42, 67, 102, 0.1);
}

.content-container {
    width: calc(100% - (var(--page-min-margin) * 2));
    max-width: var(--max-content-width);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

h3 {
    color: var(--blue);
    text-align: center;
    font-size: 42pt;
    margin-bottom: 20px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container#main-image {
    --side-length: 200px;
    height: var(--side-length);
    width: var(--side-length);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 5px 10px 0 rgba(0,0,0,0.1);
    background: url("images/headshot.jpg");
    background-size: cover;
}

.main-content {
    width: calc(100% - (var(--page-min-margin) * 2));
    max-width: var(--max-content-width);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 56px;
    margin-bottom: 45px;
}

.main-content > * {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
}

.main-content p {
    text-align: justify;
    text-align-last: center;
    font-size: var(--paragraph-font-size);
    letter-spacing: var(--paragraph-letter-spacing);
    line-height: var(--paragraph-line-spacing);
    font-weight: 500;
}

h1 {
    text-align: center;
    font-size: 52pt;
    letter-spacing: -1px;
    margin: 10px 0 15px;
}

h4 {
    font-size: 22pt;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#links-container ul {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#links-container li {
    padding: 5px 25px;
}

a {
    text-decoration: none;
}

#links-container a span {
    border-radius: 2px;
    overflow: hidden;
    padding: 0 10px;
    color: white;
    font-size: 22pt;
    font-weight: 600;
    box-shadow: inset 0 0 0 0 white;
    transition: box-shadow 0.2s, color 0.1s;
}

#links-container a:hover span {
    box-shadow: inset 0 -50px 0 0 white;
    color: var(--blue);
}

p a span, a.p-link span {
    font-size: var(--paragraph-font-size);
    letter-spacing: var(--paragraph-letter-spacing);
    line-height: var(--paragraph-line-spacing);
    color: var(--lightblue);
    padding: 0;
    margin: 0;
    text-decoration: underline;
    font-weight: 500;
    transition: color 0.2s;
}

p a:hover span, a.p-link:hover span {
    color: var(--blue);
}

a.icon-button-lg {
    position: relative;
    --button-size: 180px;
    display: block;
    height: var(--button-size);
    width: var(--button-size);
    background: var(--darkblue);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: inset 0 0 0 0 var(--lightblue);
    transition: box-shadow 0.2s;
}

.icon-button-lg #github-logo {
    background: url("images/GitHub-Mark/PNG/GitHub-Mark-Light-120px-plus.png");
    background-size: cover;
    --width: calc(100% - 60px);
    width: var(--width);
    height: var(--width);
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translate(-50%, 0);
}

.icon-button-lg span {
    position: absolute;
    bottom: 10px;
    font-size: 16pt;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    color: white;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.icon-button-lg:hover {
    box-shadow: inset 0 calc(-1 * var(--button-size)) 0 0 var(--lightblue);
}

#projects-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    margin-bottom: 20px;
    text-align: center;
    text-align-last: center;
}

#projects-columns #project-col-left {
    grid-column: 1;
}

#projects-columns #project-col-right {
    grid-column: 2;
}

#projects p {
    text-align: center;
}

#coding-container {
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: auto;
}

#coding-container h3 {
    grid-column: 1 /span 2;
}
#coding-container #left-wrapper {
    grid-column: 1;
    grid-row: title-buffer / span 2;
}

#coding-container #right-wrapper {
    grid-column: 2;
    grid-row: content-start;
}

#contact h3 {
    color: white;
}

.contact-links a span {
    color: white;
    text-decoration: underline;
    letter-spacing: 0.4px;
}

.contact-links {
    display: block;
    position: relative;
}

.contact-links li {
    font-size: var(--paragraph-font-size);
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 20px;
}

.contact-links li::before {
    content: '';
    display: block;
    --block-size: 32px;
    height: var(--block-size);
    width: var(--block-size);
    background: blue;
    position: absolute;
    top: 40%;
    left: calc(var(--block-size) * -1 - 15px);
    transform: translate(0,-25%);
}

.contact-links li#github::before {
    background: url("images/GitHub-Mark/Vector/github-small.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.contact-links li#email::before {
    background: url("images/email.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (max-width: 1000px) {
    .image-container#main-image {
        --side-length: 180px;
    }

    a.icon-button-lg {
        --button-size: 160px;
    }

    .icon-button-lg span {
        font-size: 14pt;
    }
}

@media screen and (max-width: 900px) {
    .image-container#main-image {
        --side-length: 150px;
    }

    h1 {
        font-size: 46pt;
    }

    h3 {
        font-size: 36pt;
    }

    h4 {
        font-size: 20pt;
    }

    .main-content p {
        text-align: center;
    }

    #links-container li {
        padding: 10px;
    }

    #links-container a span{
        font-size: 20pt;
    }

    #projects-columns {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    #projects-columns #project-col-left {
        grid-column: 1;
    }

    #projects-columns #project-col-right {
        margin-top: 40px;
        grid-column: 1;
    }

    #projects p {
        text-align: left;
        text-align-last: left;
    }

    a.icon-button-lg {
        --button-size: 120px;
    }
    .icon-button-lg span {
        line-height: 1;
        bottom: 5px;
        font-size: 13pt;
    }
}

@media screen and (max-width: 720px) {
    * {
        --paragraph-font-size: 16pt;
        --page-min-margin: 30px;
    }

    h1 {
        line-height: 1;
        font-size: 30pt;
    }

    h3 {
        line-height: 1;
        font-size: 28pt;
    }

    h4 {
        line-height: 1;
        font-size: 18pt;
        text-align: left;
        text-align-last: left;
        margin-bottom: 0;
    }

    .image-container#main-image {
        --side-length: 130px;
        margin-bottom: 32px;
    }

    .main-content {
        margin-top: 32px;
        margin-bottom: 20px;
    }

    .main-content p {
        font-size: 16pt;
        line-height: 20pt;
        text-align: left;
        text-align-last: left;
    }

    #links-container ul {
        margin-top: 15px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #links-container li {
        display: block;
        width: calc(100% + var(--page-min-margin) * 2);
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 3px 0;
        margin: 3px 0;
        text-align: center;
        background: var(--blue);
    }

    a.icon-button-lg {
        display: none;
    }

    #coding-container {
        grid-template-columns: 100%;
    }

    #coding-container h3, #coding-container #right-wrapper {
        grid-column: 1;
    }

    .contact-links li::before {
        --block-size: 24px;
        left: calc(var(--block-size) * -1 - 10px);
    }
}